@import "../../vars.css";

.container {
  position: relative;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
  padding: 73px;
  margin-top: 129px;
  z-index: 1;
  margin-left: 6%;
  margin-right: 6%;
}

.title {
  color: var(--color-bg);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  font-family: Means Web,Georgia,Times,Times New Roman,serif;
  text-transform: uppercase;
}

.content {
    font-family: Graphik Web,Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;
  align-items: center;
}

.content p{
    color: rgba(225, 220, 213, 0.934);
    font-size: 1.4em;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 1.875rem
}

@media screen and (max-width: 830px) {
    .container {
      /* background-color: transparent; */
      margin-top: 50px;
      margin-left: 4%;
      margin-right: 4%;
      padding-left: 0;
      padding-right: 0;
    }
  
    .content {
      margin-bottom: -60px;
    }

    .content p{
        font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
    margin-left: 15px;
    margin-right: 15px 
    }
  
    .title{
      margin-left: 15px;
      margin-top: -45px;
    }
}




.container1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 6%;
  margin-right: 6%;
}




.content1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* color: var(--color-bg); */
  color: rgb(48, 46, 46);
  z-index: 1;
  /* font-family: Georgia, 'Times New Roman', Times, serif */
  font-family: Graphik Web,Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;

  
}

.title1 {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgb(250, 249, 249) 70%,
    rgba(10, 10, 10, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: rgb(251, 250, 250);

}

.description1 {
  font-style: italic;
  font-size: 25px;
  /* font-family: var(--font-roboto); */
  margin-bottom: 25px;
  font-family: Means Web,Georgia,Times,Times New Roman,serif;
  color: white;
}
.connect1{
  font-size: 30px;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
  box-shadow: 0 0 4px 0 rgba(250, 248, 248, 0.25);
}

.heroImg1 {
  width: 50%;
  z-index: 1;
  padding-left: 20px;
  border-radius: 300px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
.links1 {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link1 {
  display: flex;
  align-items: center;
  gap: 25px;
  height: 50px
}

.resume1{
  background-color: aliceblue;
  font-size: 30px;
  border-radius: 7px;
  padding: 5px;
  
}

.text1{
  text-decoration: none;
  color: rgb(48, 46, 46);
  
}

.link1 a {
  color: var(--color-bg);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

/* .topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(12, 12, 12, 0.6);
  filter: blur(100px);
  z-index: 0;
} */

/* .bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  min-width: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(12, 12, 12, 0.6);
  filter: blur(100px);
  z-index: 0;
} */

@media screen and (max-width: 830px) {
  .container1 {
    flex-direction: column-reverse;
  }

  .title1 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 1%;
  }
  .description1 {
    font-size: 15px;
    font-family: var(--font-roboto);
    margin-bottom: 15px;
    color: rgb(247, 245, 245);
  }

  .links1 {
    gap: 15px;
  }
}




